#application {
    max-width: 500px;
    max-height: 400px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 50%;
    margin-top: -250px;
}
.holder {
    width: 150%;
    max-height: 400px;
    height: 100%;
    overflow-y: hidden;
}
#aside {
    background: #ccc;
    height: 400px;
    float: left;
    position: relative;
}
.navigation {
    width: 200px;
    transform: translate3d(0, 0, 0);
}
#main {
    background: lightseagreen;
    width: 300px;
    height: 400px;
    float: left;
    position: relative;
    transform: translate3d(0, 0, 0);
}
header {
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
}
h2 {
    text-align: center;
    border-bottom: 1px solid #000000;
}
.list-kettles {
    padding: 5px 20px;
    border-bottom: 1px solid #000000;
}
.active {
    background: darkgrey;
}
.sub-header {
    padding: 10px 0 5px;
    overflow: hidden;
    background: green;
}
.timer {
    float: left;
    padding-left: 5px;
}
.properties {
    border: 1px solid #ccc;
    padding: 7px;
    text-align: center;
    color: #fff;
    float: right;
    margin-right: 5px;
    cursor: pointer;
}
.view-temperature {
    height: 100px;
    width: 30px;
    margin: 10px auto;
    border-radius: 15px;
    border: 2px solid #fff;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
#scale {
    width: 30px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: orangered;
}
.left-part {
    width: 49%;
    display: inline-block;
}
.right-part {
    width: 49%;
    display: inline-block;
}
#start {
    text-align: center;
    display: block;
    background: transparent;
    color: #fff;
    width: 50px;
    height: 50px;
    margin: 20px auto;
    outline: 1px solid #fff;
    border: none;
    cursor: pointer;
    position: relative;
}
#start:before {
    content: 'Press';
    position: absolute;
    top: 30%;
    left: 20%;
    color: #fff;
}
#start:disabled {
    opacity: 0.7;
    cursor: default;
}
.on {
    outline: 3px solid #fff !important;
}
.radio-button{
    text-align: center;
}
.radio-button input {
    display: inline-block;
    cursor: pointer;
}
#current-temperature {
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding-top: 20px;
}
.bottom-content {
    padding-top: 30px;
}
.button-temperature label {
    display: inline-block;
    text-align: center;
    border: 1px solid #fca;
    width: 13%;
    height: 40px;
    margin-left: 10px;
    cursor: pointer;vertical-align: bottom;
}
.button-temperature input {
    cursor: pointer;
}

.add-btn {
    text-align: center;
    margin: 0 auto 10px;
    width: 85px;
    height: 30px;
    display: block;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.buy-btn {
    float: right;
    width: 50px;
    height: 30px;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.wrapper-fade{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
}
.fade {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: #000;
}
.wrapper-add {
    opacity: 1;
    width: 300px;
    height: 100px;
    margin: 100px auto;
    text-align: center;
    background: #ccc;
}
.enter-name, .keys {
    padding: 5px;
    margin: 5px 0 20px;
}
#close {
    display: block;
    width: 75px;
    margin: 0 auto;
    background: #ffccaa;
    font-weight: bold;
    padding: 7px;
    cursor: pointer;
}
