@import url(https://fonts.googleapis.com/css?family=Vollkorn);

body {
    font-family: 'Vollkorn', serif;
    background: url("../img/bg.gif") no-repeat;
    background-size: cover;
}


#application {
    width: 740px;
    margin: 0 auto;
}
.application-view {
    width: 150px;
    margin: 140px auto;
}
.application-view  a {
    background: #4d496c;
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    float: left;
    width: 150px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 40px #332d5b inset;
}
.application-view  a:hover {
    background: #0381f4;
    color: #ffffff;
}
.login-form, .registration-form {
    width: 300px;
    margin: 130px auto;
    padding: 10px;
    background: rgba(52,52,52,0.9);
    border-radius: 20px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.center {
    text-align: center;
}
.registration-form {
    width: 325px;
    margin: 60px auto;
    padding: 10px;
}
#aside {
    background-color: rgba(158, 158, 158, 0.9);
    height: 400px;
    float: left;
    position: relative;
    z-index: 1;
}
.navigation {
    width: 200px;
    transform: translate3d(0, 0, 0);
}
#main {
    background-color: rgba(52, 52, 52, 0.9);
    width: 535px;
    height: 400px;
    float: left;
    position: relative;
    z-index: 1;
    transform: translate3d(0, 0, 0);
}
h2 {
    text-align: center;
    color: #fff;
    font-size: 36px;
}
.list-kettles {
    padding: 5px 20px;

}
.list-kettles a {
    font-size: 20px;
    text-decoration: none;
}
.list-kettles:hover .remove-btn {
    display: block;
}
.active {
    background: #19456b !important;
}
.active a {
    color: #fff;
}
.boil {
    background: darkcyan;
}
.sub-header {
    padding: 10px 0 5px;
    overflow: hidden;
    position: absolute;
    top: -58px;
    right: 175px;
    width: 400px;
}
.timer {
    float: left;
    padding-left: 5px;
}
.properties {
    border: 1px solid #ccc;
    padding: 7px;
    text-align: center;
    color: #fff;
    float: right;
    margin-right: 5px;
    cursor: pointer;
}
.view-temperature {
    background: url("../img/termometro.png")no-repeat;
    width: 92px;
    height: 260px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}
#scale {
    width: 30px;
    position: absolute;
    bottom: 15px;
    left: 31px;
    z-index: 1;
    background: #e82128;
}
.left-part {
    width: 70%;
    display: inline-block;
    vertical-align: top;
}
.right-part {
    width: 28%;
    display: inline-block;
}
#start {
    background: -webkit-linear-gradient(#4d496c, #332e5b, #4d496c);
    background: -o-linear-gradient(#4d496c, #332e5b, #4d496c);
    background: -moz-linear-gradient(#4d496c, #332e5b, #4d496c);
     background: linear-gradient(#4d496c, #332e5b, #4d496c);
    color: #fff;
    padding: 10px 65px;
    width: 162px;
    margin: 45px auto;
    display: block;
    border-radius: 7px;
}
#start:disabled {
    opacity: 0.7;
    cursor: default;
}
.on {
    outline: 3px solid #fff !important;
}
.radio-button{
    text-align: center;
}
.radio-button input {
    display: inline-block;
    cursor: pointer;
}
#current-temperature {
    text-align: center;
    font-size: 24px;
    color: #fff;
    padding-top: 20px;
}
.temperature:checked + label {
    background: url("../img/button-temperature-active.png")no-repeat;
    width: 59px;
    height: 61px;
    text-decoration: underline;
}
.language:checked + label {
    background: #4d496c;
    text-decoration: underline;;
}

.button-temperature label {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    padding: 0;
    line-height: 66px;
    background: transparent;
    color: #fff;
    border: none;
    position: relative;
    background: url("../img/button-temperature.png")no-repeat;
    width: 59px;
    height: 61px;
}
.select-language {
    position: relative;
    z-index: 1;
    text-align: right;
}
.select-language label {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    background: #8781bd;
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 20px auto;
    outline: 1px solid #fff;
    border: none;
    position: relative;
}
.add-btn {
    text-align: center;
    margin: 0 auto 10px;
    width: 85px;
    display: block;
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.remove-btn {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 20px;
    height: 20px;
    margin: auto 0;
    font-size: 15px;
    color: red;
    transition: color 0.2s ease-out;
    padding: 0;
    border: 0;
    cursor: pointer;
    background: none;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
.fade {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    z-index: 2;
    background: #000;
}
#popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.wrapper-modal {
    z-index: 2;
    position: relative;
}
.wrapper-add {
    position: relative;
    opacity: 1;
    width: 300px;
    height: 100px;
    padding-top: 25px;
    margin: 100px auto;
    text-align: center;
    background: #fff url("../img/boil-kettle.png")no-repeat;
    background-position: 0 95%;
    overflow: hidden;
    z-index: 3;
}
.wrapper-add.boil-modal{
    height: 45px;
    padding-top: 25px;
    color: #222;
    font-size: 16px;
}
.wrapper-add input {
    width: 250px;
    color: #222;
    height: 28px;
    margin: 0 auto 10px;
}

.enter-name, .keys {
    padding: 5px;
    margin: 5px 0 20px;
}
#add {
    display: block;
    width: 75px;
    margin: 0 auto;
    background: #ffccaa;
    font-weight: bold;
    padding: 7px;
    cursor: pointer;
}
.close {
    position: absolute;
    top: 1px;
    right: 5px;
    color: #222;
    cursor: pointer;
}
.field-wrap {
    position: relative;
    margin-bottom: 10px;
}
.field-wrap input {
    font-family: 'Vollkorn', serif;
    width: 75%;
    margin: 5% auto;
    border-radius: 5px;
    background: #fff;
    color: #757575;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    position: absolute;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    font-size: 14px;
}
label .req {
    margin: 2px;
    color: #03a9f4;
}
input:focus, textarea:focus {
    outline: 0;
    border-color: #03a9f4;
}
input {
    font-size: 14px;
    display: block;
    width: 92%;
    height: 100%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

#login-button:disabled, #registration-button:disabled, #add:disabled, .add-btn:disabled, #start:disabled {
    cursor: default;
    background: #ccc;
    color: #fff;
    border-radius: 5px;
}
#login-button:disabled:hover, #registration-button:disabled:hover, #add:disabled:hover, .add-btn:disabled:hover, #start:disabled:hover {
    cursor: default;
    background: #ccc;
    color: #fff;
}
#login-button, #registration-button, .add-btn, #add, #log-out, .back a, #go, .buy-btn{
    background: -webkit-linear-gradient(#4d496c, #332e5b, #4d496c);
    background: -o-linear-gradient(#4d496c, #332e5b, #4d496c);
    background: -moz-linear-gradient(#4d496c, #332e5b, #4d496c);
    background: linear-gradient(#4d496c, #332e5b, #4d496c);
    color: #fff;
    display: block;
    border: none;
    text-decoration: none;
    padding: 7px;
    font-size: 14px;
    font-family: 'Vollkorn', serif;
    width: 100px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#log-out a {
    text-decoration: none;
    color: #fff;
}
#login-button:hover, #registration-button:hover, .add-btn:hover, .close:hover, #log-out:hover, .back a:hover, #go:hover, #start:hover, .buy-btn:hover {
    background: -webkit-linear-gradient(#4d496c, #fff, #4d496c);
    background: -o-linear-gradient(#4d496c, #fff, #4d496c);
    background: -moz-linear-gradient(#4d496c, #fff, #4d496c);
    background: linear-gradient(#4d496c, #fff, #4d496c);
    color: #363636;
}
.buy-btn {
    position: absolute;
    top: 10px;
    right: 0;
}
.message {
    display: none;
}
.message.show {
    display: block;
}
.text {
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-top: 15px;
}
.radio-buttons {
    height: 30px;
    margin-bottom: 15px !important;
    width: 80%;
    margin: 0 auto;
}
.radio-buttons .radio:first-child {
    float: left;
}
.radio-buttons .radio:last-child {
    float: right;
}
.radio {
    position: relative !important;
    width: 46%;
    display: inline-block;
    margin: 0;
}
.radio span {
    color: #fff;
}
input[type="radio"] {
    height: auto !important;
    width: 15px;
    display: inline-block;
    vertical-align: middle;
}
#key {
    display: none;
}
#key.show {
    display: block;
    text-align: center;
}
#key a {
    text-align: center;
    color: #fff;
}
.back {
    margin-top: 10px;
    text-align: center;
}
.back a {
    text-align: center;
    color: #fff;
}
.kettles {
    margin-bottom: 10px;
    max-height: 350px;
    overflow-y: auto;
}
.kettles li {
    list-style: none;
    position: relative;
    background: #fff;
    margin: 3px;
}
.temperature, .language {
    visibility: hidden;
}
.hide {
    position: absolute;
    top: -999px;
}
.show-item {
    position: inherit;
    top: inherit;
}