<header>
    <h2>Чайник</h2>
</header>
<main>
    <div class="sub-header">
        <div class="timer">10:00</div>
        <div class="properties">Параметры</div>
    </div>
    <div class="center-content">
        <div class="left-part">
            <div class="view-temperature">
                <div id="scale"></div>
            </div>
        </div>
        <div class="right-part">
            <button id="start"></button>
            <div class="radio-button">
                <input type="radio" name="options" value="on" checked> On
                <input type="radio" name="options" value="off"> Off
            </div>
            <div id="current-temperature">%= degree %></div>
        </div>
        <div class="bottom-content">
            <div class="button-temperature">
                <label><input class="temperature" type="radio" name="selectTemperature" value="65"><br>65</label>
                <label><input class="temperature" type="radio" name="selectTemperature" value="75"><br>75</label>
                <label><input class="temperature" type="radio" name="selectTemperature" value="85"><br>85</label>
                <label><input class="temperature" type="radio" name="selectTemperature" value="100">100</label>
            </div>
        </div>
    </div>
</main>