<form id="login-form">
    <div class="field-wrap">
        <label for="login"></label>
        <input type="text" id="login" placeholder="Login*" required>
    </div>
    <div class="field-wrap">
        <label for="password"></label>
        <input type="password" id="password" placeholder="Password*" required>
    </div>
    <button class="button button-block" id="login-button">Log In</button>
    <div class="message">
        <div class="text"></div>
    </div>
    <div class="back">
        <a href="#">Home</a>
    </div>
</form>
