<div class="field-wrap">
    <label for="name"></label>
    <input type="text" id="name" placeholder="User Name" required>
</div>
<div class="field-wrap">
    <label for="password"></label>
    <input type="password" id="password" placeholder="Password" required>
</div>
<div class="field-wrap bottom-null">
    <label for="confirmPassword"></label>
    <input type="password" id="confirmPassword" placeholder="Confirm Password" required>
</div>
<div class="field-wrap radio-buttons">
    <label class="radio"> User
        <input class="type-user" id="user" type="radio" name="user" value="user">
    </label>
    <label class="radio"> Company
        <input class="type-company" id="company" type="radio" name="user" value="company">
    </label>
</div>
<div class="field-wrap enter-company">
    <label for="enterCompany"></label>
    <input type="text" id="enterCompany" placeholder="Company Name" required>
</div>
<div class="field-wrap enter-key">
    <label for="enterCompany"></label>
    <input type="text" id="enterKey" placeholder="Enter Key" required>
</div>
<button type="submit" class="button button-block" id="registration-button">Registration</button>
<div id="key">
    <span class="text"></span>
    <a href="#kettles">Go</a>
</div>