<ul>
    <li>
        <label for="name">Name</label>

        <input type="text" id="name" required>
    </li>
    <li>
        <label for="password">Password</label>
        <input type="password" id="password" required>
    </li>
    <li>
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" required>
    </li>
    <li class="center">
        <label class="radio"> User
            <input class="type-user" id="user" type="radio" name="user" value="user">
        </label>
        <label class="radio"> Company
            <input class="type-company" id="company" type="radio" name="user" value="company">
        </label>
    </li>
    <li class="enter-company">
        <label for="enterCompany">Enter Company</label>
        <input type="text" id="enterCompany" required>
    </li>
    <li class="enter-key">
        <label for="enterCompany">Enter Key</label>
        <input type="text" id="enterKey" required>
    </li>
    <li>
        <button id="registration-button">Registration</button>
    </li>
</ul>